
Activities/BarVolume/kotlin/\.idea/caches/

Activities/BarVolume/kotlin/\.idea/codeStyles/

Activities/BarVolume/kotlin/\.idea/

Intent/MyIntentApp/java/\.idea/

*.apk

*.json

Activities/BarVolume/kotlin/local\.properties

Intent/MyIntentApp/\.idea/caches/

Intent/MyIntentApp/kotlin/\.idea/caches/

Intent/MyIntentApp/kotlin/\.idea/

Intent/MyIntentApp/\.idea/

Fragment\.Fragment/MyFlexibleFragment/java/\.idea/

Activities/BarVolume/kotlin/\.gradle/5\.1\.1/executionHistory/executionHistory\.bin

Activities/BarVolume/kotlin/\.gradle/5\.1\.1/executionHistory/executionHistory\.lock

Activities/BarVolume/kotlin/\.gradle/5\.1\.1/fileHashes/fileHashes\.bin

Activities/BarVolume/kotlin/\.gradle/5\.1\.1/fileHashes/fileHashes\.lock

Activities/BarVolume/kotlin/\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

Activities/BarVolume/kotlin/app/app\.iml

Activities/BarVolume/kotlin/\.gradle/5\.1\.1/executionHistory/

Activities/BarVolume/kotlin/\.gradle/5\.1\.1/fileHashes/

Activities/BarVolume/kotlin/\.gradle/buildOutputCleanup/outputFiles\.bin

Testing/MyTestingApp/kotlin/\.idea/caches/build_file_checksums\.ser

Testing/MyTestingApp/kotlin/\.idea/encodings\.xml

Testing/MyTestingApp/kotlin/\.idea/gradle\.xml

Testing/MyTestingApp/kotlin/\.idea/misc\.xml

Testing/MyTestingApp/kotlin/\.idea/modules\.xml

Testing/MyTestingApp/kotlin/\.idea/runConfigurations\.xml

Testing/MyTestingApp/kotlin/\.idea/vcs\.xml

Activities/BarVolume/java/\.idea/

Activities/BarVolume/java/.gradle/5.1.1/executionHistory/executionHistory.bin

Activities/BarVolume/java/.gradle/5.1.1/executionHistory/executionHistory.lock

Activities/BarVolume/java/.gradle/5.1.1/fileChanges/last-build.bin

Activities/BarVolume/java/.gradle/5.1.1/fileHashes/fileHashes.bin

Activities/BarVolume/java/.gradle/5.1.1/fileHashes/fileHashes.lock

Activities/BarVolume/java/.gradle/5.1.1/gc.properties

Activities/BarVolume/java/.gradle/5.4.1/executionHistory/executionHistory.bin

Activities/BarVolume/java/.gradle/5.4.1/executionHistory/executionHistory.lock

Activities/BarVolume/java/.gradle/5.4.1/fileChanges/last-build.bin

Activities/BarVolume/java/.gradle/5.4.1/fileHashes/fileHashes.bin

Activities/BarVolume/java/.gradle/5.4.1/fileHashes/fileHashes.lock

Activities/BarVolume/java/.gradle/5.4.1/gc.properties

Activities/BarVolume/java/.gradle/buildOutputCleanup/buildOutputCleanup.lock

Activities/BarVolume/java/.gradle/buildOutputCleanup/cache.properties

Activities/BarVolume/java/.gradle/buildOutputCleanup/outputFiles.bin

Activities/BarVolume/java/.gradle/vcs-1/gc.properties

Activities/BarVolume/java/java.iml
